backcall==0.2.0
decorator==5.0.9
ipython==7.24.0
ipython-genutils==0.2.0
jedi==0.18.0
joblib==1.0.1
line-profiler==3.2.6
llvmlite==0.36.0
matplotlib-inline==0.1.2
numba==0.53.1
numpy==1.20.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.18
ptyprocess==0.7.0
Pygments==2.9.0
scipy==1.6.3
tqdm==4.61.0
traitlets==5.0.5
wcwidth==0.2.5
